{% extends  'server/base.html' %}

{% block content %}
    {% include 'server/cover_heading.html' with heading='Protest ban' sub_heading='If you think your ban was unfair, you may protest to revert the ban here' background='server/images/protest.jpg' %}

    <div class="container">
        <div class="border bg-light mt-3 p-1">
            <div class="m-2 border">
                <div class="bg-dark text-white p-3" style="font-family: 'Roboto';">
                    <h5 class="text-uppercase">Protest ban</h5>
                </div>
                <div class="p-3 text-center">
                    <p class="fs-5">
                        You need to create a support ticket in our discord server. <br>

                    </p>
                    <h3 class="">
                        <a  style="text-decoration: none;" href="https://discord.gg/academygaming">https://discord.gg/academygaming</a>

                    </h3>
                </div>
    </div>

{% endblock content %}