{% load static %}
<div class="mt-auto footer" style="background-image: url({% static 'footer-particle.png' %});background-size: cover;background-position: top;">
    <div class="footer-header text-center">
        <h3 style="color: var(--icon-text-active);font-weight: bold;">
            ABOUT ACADEMY GAMING
        </h3>
        <p>
            Delivering the very best gameplay experience with one of the most friendly and non-toxic community.
        </p>
    </div>
    <div class="d-flex justify-content-around text-center mt-3 flex-wrap" style="text-transform: uppercase;">
        <div>
            <h5>3+</h5>
            <h6>Community Servers</h6>
        </div>
        <div>
            <h5>5+</h5>
            <h6>Tournaments Sponsored</h6>
        </div>
        <div>
            <h5>1000+</h5>
            <h6>Active Players</h6>
        </div>
        <div>
            <h5>10+</h5>
            <h6>Staffs</h6>
        </div>
        <div>
            <h5>100+</h5>
            <h6>Servers hosted</h6>
        </div>
    </div>
    <hr>
    <p class="text-center m-0">Hand Crafted by <a href="https://github.com/prajwalbasnet4400" target="_blank" class="text-decoration-none">TheOnionKnight</a> with ☕ & 🤍 / Design by <a href="https://steamcommunity.com/id/-unl0cky-/" target="_blank" class="text-decoration-none">unl0cky</a></p>

</div>
