{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="padding-top:80px;font-family: 'Open Sans';">
    {% csrf_token %}
    <div class="row">
        <h1 style="font-family: 'Raleway';font-size: 2.3rem;">PURCHASE DETAILS</h1>

        <div class="col-12 col-md-4">
            <div class="mx-auto" style="border: none;">
                <p>
                <div class="custom-form">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label></label>Username:</label>
                                <input disabled type="text" value="{{profile.personaname}}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label></label>SteamID:</label>
                                <input disabled type="text" value="{{profile.steamid}}" class="form-control">
                            </div>
                        </div>
                        <div class="col d-flex">
                            <img class="mt-auto" src="{{profile.avatarfull}}" width="128px" alt="PP">
                        </div>
                    </div>
                    <div class="form-group">
                        <label></label>Profile URL:</label>
                        <a target="_blank" href="{{profile.profileurl}}"
                            style="text-decoration: none;background-color: #31373f60;color: #cbcbcb;border: none;font-size: 0.9rem;"
                            class="form-control">{{profile.profileurl}}</a>
                    </div>
                    <div class="form-group">
                        <label></label>Server:</label>
                        <input disabled type="text" value="{{product.server}}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label></label>Duration:</label>
                        <input disabled type="text" value="{{product.duration}} days" class="form-control">
                    </div>
                    <div class="form-group">
                        <label></label>Price:</label>
                        <input disabled type="text" value="{% if product.payment_method == 'STRIPE' %}$ {% else %}Rs {% endif %}{{product.f_price}}" class="form-control">
                    </div>
                </div>
                </p>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="card mx-auto server-card" style="border: none;max-width: 350px;">
                <img src="{% static 'logo.png' %}" width="200px" alt="" class="mx-auto">
                <h4 style="font-family:'Gilroy-Bold';margin-top: 0.5rem;" class="theme-color text-center">
                    {{product.server}}</h4>
                <hr class="theme-color" style="height: 1.5px;opacity: 1;">
                <ul class="list-group bg-transparent" style="text-align: left;">
                    <li class="list-group-item" style="color: #cbcbcb;font-size: 0.9rem;font-weight: bold;"><i
                            class="fas fa-check theme-color me-1"></i> Reserved slot</li>
                    <li class="list-group-item" style="color: #cbcbcb;font-size: 0.9rem;font-weight: bold;"><i
                            class="fas fa-check theme-color me-1"></i> SKINCHANGER (!ws,!knife)</li>
                    <li class="list-group-item" style="color: #cbcbcb;font-size: 0.9rem;font-weight: bold;"><i
                            class="fas fa-check theme-color me-1"></i> PREMIUM tag</li>
                    <li class="list-group-item" style="color: #cbcbcb;font-size: 0.9rem;font-weight: bold;"><i
                            class="fas fa-check theme-color me-1"></i> Priority support</li>
                    <li class="list-group-item" style="color: #cbcbcb;font-size: 0.9rem;font-weight: bold;"><i
                            class="fas fa-check theme-color me-1"></i> Server moderation</li>
                </ul>
                {% if product.payment_method == "STRIPE" %}
                    <form class="d-flex justify-content-evenly my-3" action="{% url 'store:checkout_stripe' product.slug profile.steamid %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn theme-btn" id="checkout-button">Checkout with Stripe</button>
                    </form>
                {% elif product.payment_method == "KHALTI" %}
                    <form class="d-flex justify-content-evenly my-3" action="{% url 'store:checkout_khalti' product.slug profile.steamid %}" method="GET">
                        <button type="submit" class="btn theme-btn" id="checkout-button">Checkout with Khalti</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock content %}